$mediaMaxWidth: 1260px;
$mediaTabletWidth: 960px;
$mediaStdMobileWidth: 720px;
$mediaMinWidth: 500px;
$mediaTinyWidth: 320px;

$gray-lighter: #f7f7f7;
$gray-light: #dbdbdd;
$gray-dark: #aeafb3;
$gray-darker: #454547;
$pink: #e89d93;
$yellow: #eec71a;
$paper: #f3d963;

$pallete: (
  #ff5722,
  #cddc39,
  #29b6f6,
  #ce93d8,
  #2c4c5ff0,
  #476779f0,
  #2c4c5ff0,
  #4f3059f0
);

* {
  font-family: inherit;
}

.light-modal {
  font-family: "Josefin Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.modal-content {
  background-color: #ffffff80 !important;
  color: #000000;
  // background-image: linear-gradient(#f9edb6, #f4dc6e 7px, #f3d963 7px, #ffffff);
  background-size: 100% 14px;
  padding: 0 !important;
  margin: 5% auto; /* 5% from the top and centered */
  padding: 20px;
  border-radius: 0.5rem !important;
  border: none !important;
  width: 80% !important; /* Could be more or less, depending on screen size */
  box-shadow: 9px 4px 100px -10px #868585;
  animation-name: bringIn;
  animation-duration: 0.4s;
}

@keyframes bringIn {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 40px !important;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  background: #ffffff90;
  border: none !important;
  align-items: center !important;
  padding-left: 2rem !important;
  padding-right: 2rem !important;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;

  .btn {
    margin: 0;
  }
}

.modal-content > h2 {
  text-align: center;
  width: 100%;
  font-size: 2.3rem;
  padding: 1rem 0;
  margin-bottom: 0 !important;
  background: #ffffffb5;
  border-top-left-radius: 0.4rem !important;
  border-top-right-radius: 0.4rem !important;
}

$dividerWidth: 3px;

.modal-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: stretch;
  justify-content: center;
  padding: 0 !important;

  div {
    display: flex;
    align-items: stretch;
    justify-content: stretch;

    div {
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      border: none !important;
      padding: 1rem 1rem;
    }
  }
}

@media (max-device-width: $mediaTabletWidth) {
  .info-set {
    flex-wrap: wrap;
  }
}

.info-set,
.modal-body {
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
}

td.detail {
  max-width: 10rem;
  overflow: hidden;
}

@for $i from 1 to 4 {
  .info-set > div:nth-child(#{$i}) {
    background-color: nth($list: $pallete, $n: $i + 4);
  }
}

.details {
  tr:nth-child(1) > td,
  th {
    border-top: none !important;
  }
  max-width: 100%;
  background-color: nth($pallete, 8);
  flex-direction: column;
  padding: 1rem 1rem;
  border-bottom-right-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;

  .disclaimer {
    background: #0000004d;
    border-radius: 0.3rem;
    margin-bottom: 10px;
  }

  .event-coordinator {
    text-align: left;
    padding-right: 0.5em;
  }

  .event-coordinator-contact {
    text-align: right;
    padding-left: 0.5em;
  }

  .serial-number,
  .detail {
    color: white;
  }

  .serial-number {
    text-align: left;
    // transform: rotate(270deg);
  }

  .detail {
    text-align: right;
  }
}

@media (max-device-width: $mediaTinyWidth) {
  .details {
    padding: 0;

    .disclaimer {
      border-radius: 0;
    }
  }
}

@media (max-width: $mediaStdMobileWidth) {
  .modal-header h2 {
    font-size: 1.7rem;
  }

  .modal-body {
    font-size: 1.3rem;
    div {
      transform: skew(0);
      div {
        transform: skew(0) !important;
      }
    }
  }
}

@media (max-width: 1200px) {
  .modal-body {
    flex-wrap: wrap;
  }
}

.btn {
  width: min-content;
  margin: 0 auto;
  border-color: black !important;
  color: black !important;
}
