$mediaMaxWidth: 1260px;
$mediaTabletWidth: 960px;
$mediaStdMobileWidth: 720px;
$mediaMinWidth: 500px;

$elementCount: 10;
$highlightPalette: (
  // #ff5722,
    // #ba68c8,
    // #f85f73,
    // #448aff,
    // #4caf50,
    // #ffe0b2,
    // #009688,
    // #ffeb3b
    #cddc39,
  #4caf50,
  #009688,
  #03a9f4,
  #3f51b5,
  #673ab7,
  #9c27b0,
  #e91e63,
  #f44336
);

$palette: (
  #ffffff,
  #fff9e2,
  #ffdda7,
  #ffd591,
  #fdc872,
  #fabc57,
  #ffb53d,
  #ffaa22
);

$strokeColour: #2eabff;
$strokeWidth: 1px;

/* Second section: */

.description {
  font-family: "Josefin Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  padding: 0.7em 0;
  background: #ffffffcf;
  border-radius: 5px;
  color: black !important;
  padding: 0.7em 1em;

  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;

  border: 5px solid #888888c9;

  transition: all 0.3s ease-in-out;

  i {
    padding-left: 0.8em;
  }

  &:after {
    content: "";
    border-bottom: 10px solid yellow;
  }
}

.broken-grid {
  max-width: 70rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 8rem 5rem;

  div {
    align-self: center;
    transition: all 0.3s ease-in-out;
    cursor: zoom-in;
    margin: 0.7rem 0.5rem;
  }

  @for $i from 1 to $elementCount + 1 {
    div:nth-child(#{$i}) {
      .description {
        color: white; // nth($list: $palette, $n: $i);
      }

      &:before:hover {
        $strokeColour: white;

        &:before {
          text-shadow: $strokeWidth $strokeWidth 0 $strokeColour,
            -$strokeWidth #{-$strokeWidth} 0 $strokeColour,
            $strokeWidth -$strokeWidth 0 $strokeColour,
            -$strokeWidth $strokeWidth 0 $strokeColour,
            $strokeWidth $strokeWidth 0 $strokeColour !important;
        }
      }

      &:hover {
        // color: nth($highlightPalette, $i);
        // border: 5px solid nth($highlightPalette, $i);
        // border-radius: 20px;
        // padding: 0.5em 1em;

        .description {
          border-width: 2px;
          width: auto;
          // color: nth($highlightPalette, $i);
        }
      }
    }
  }
}

@media (max-width: $mediaMaxWidth) {
  .broken-grid div {
    // margin: 1rem !important;
  }
}

@media (max-width: $mediaTabletWidth) {
  .broken-grid {
    padding: 5rem 3rem;
  }
}

@media (max-width: $mediaStdMobileWidth) {
  .broken-grid div {
    // margin: 1rem 0.5rem;
  }
}

@media (max-width: $mediaMinWidth) {
  .description {
    font-size: 1.4rem;
    padding: 0.4em 1em;
  }

  .broken-grid {
    padding: 5rem 0;
  }

  .broken-grid div {
    // margin: 1rem 0.3rem !important;
  }
}

$rotateDegree: 2deg;

@keyframes jelly {
  0%,
  50%,
  80%,
  100% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(-$rotateDegree);
  }
  80% {
    transform: rotate($rotateDegree);
  }
}
