$headingColor: #eeeeee;

.locate-us {
  color: $headingColor;
  padding-bottom: 0.7em;

  &:before {
    background-color: $headingColor;
  }

  &:after {
    background-color: $headingColor;
  }
}

iframe {
  height: 700px;
  width: 400px;
}

@media (max-device-width: 450px) {
  iframe {
    width: 380px;
  }
}

@media (max-device-width: 350px) {
  iframe {
    width: 300px;
  }
}

.mapouter {
  text-align: center;
  height: 500px;
  width: auto;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 500px;
  width: 100%;
}
