$mediaMaxWidth: 1260px;
$mediaTabletWidth: 960px;
$mediaStdMobileWidth: 700px;
$mediaMinWidth: 480px;
$mediaTinyWidth: 320px;

$headingColor: #ff5e5e;

.locate-us {
  color: $headingColor;
  padding-bottom: 0.7em;

  &:before {
    background-color: $headingColor;
  }

  &:after {
    background-color: $headingColor;
  }
}

iframe {
  height: 700px;
  width: 400px;
}

@media (max-device-width: $mediaMinWidth) {
  iframe {
    width: 360px;
  }
}

@media (max-device-width: $mediaTinyWidth) {
  iframe {
    width: 300px;
  }
}

.mapouter {
  text-align: center;
  height: 500px;
  width: auto;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 500px;
  width: 100%;
}

.location-description {
  
    
  margin: 1em 0 0;
}
